body {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1 {
    text-align: center;

    color: rgb(251, 142, 40);
}

.space {
    width: 100%;
    height: 230px;
    margin-left: 20%;
    margin-right: 20%;
}

div.galleryimg {
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 180px;
}

div.galleryimg:hover {
    border: 1px solid #777;
}

div.galleryimg img {
    width: 100%;
    height: 200px;
}

.para {
    text-align: left;
    margin: 40px;
    font-size: large;
}

h3 {
    color: rgb(251, 142, 40);

}

.music {
    margin: 40px;

}

.awards {
    margin: 40px;

}

u {
    color: rgb(251, 142, 40);
}

table,
th,
td {
    border: 1px solid;
    border-style: solid;
    border-collapse: collapse;
    border-color: white;
}

td,
th {
    height: 30px;
    width: 2000px;
    padding: 5px;
}

th {
    background-color: darksalmon;
    color: black
}

.todolist {
    margin: 40px;

}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 30px;

}

input {
    flex: 1;
    border: none;
    outline: none;
    background: rgba(43, 43, 43, 0.786);
    padding: 10px;
    font-weight: 14px;
    color: white;

}

button {
    border: none;
    outline: none;
    padding: 9px 20px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    /* border-radius: 10px; */
    background-color: rgb(251, 142, 40);
}

ul li.unchecked {
    list-style: none;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li.unchecked ::before {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background-image: url(icons8-unchecked-checkbox-32.png);
    background-size: cover;
    background-position: center;
    top: 12px;
}

ul li.checked {
    text-decoration: line-through;
    list-style: none;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li.checked ::before {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background-image: url(icons8-checkbox-32.png);

}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    color: white;
}

ul li span:hover {
    background: #edeef0;
}